
@{
    ViewData["Title"] = "ContactUs";
}

<h1>ContactUs</h1>


<div>
    <p><strong>Address</strong></p>
    <dl class="row offset-md-1">
        <dt class="col-sm-1 ">City</dt>
        <dd class="col-sm-11"> Al Ain</dd>
        <dt class="col-sm-1 ">Area</dt>
        <dd class="col-sm-11"> Ghaneemah</dd>
        <dt class="col-sm-1 ">Street</dt>
        <dd class="col-sm-11"> 501</dd>
     </dl>
</div>
