@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Funky Cuts Male hair Salon</h1>

    <img width="600" height="400" src="~/img/haircut-4.jpeg" />

</div>
